/**
 * Needed Fonts
 */

 @font-face {
    font-family: 'AtamiBold';
    src: url('../assets/fonts/atami-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/atami-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'AtamiRegular';
    src: url('../assets/fonts/atami-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/atami-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Miama';
    src: url('../assets/fonts/miama-webfont.woff2') format('woff2'),
         url('../assets/fonts/miama-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}