.food {
    background-color: #0984e3;
    background-image: url('../assets/img/banquet.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.food-text {
    position: absolute;
    height: 100%;
    width: 30%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #dfe6e9;
    padding: 45px;
    text-align: justify
}

.form {
    width: 100%;
}

.form-control {
    padding: 10px;
}

.form-control>label {
    display: block; width: 100%;
}

.form-control>input,
.form-control>select,
.form-control>textarea {
    padding: 5px;
    font-size: 1.5em;
    width:100%;
    font-family: AtamiRegular, sans-serif
}

.form-control>button{
    padding: 5px;
    font-size: 1.5em;
    widows: 50px;
    font-family: AtamiRegular, sans-serif
}