.food {
    background-color: #0984e3;
    background-image: url('../assets/img/banquet.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.food-text {
    position: absolute;
    height: 100%;
    width: 30%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #dfe6e9;
    padding: 45px;
    text-align: justify
}

@media screen and (max-width:576px){
    .food{
        background-size: cover;
    }
    .food-text {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}
