 .bride-groom {
    background-color: #000000;
    background-image: url('../assets/img/header.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;

}

.bride-groom-box{
    color: #dfe6e9;
    font-family: Miama, sans-serif;
    position: absolute;
    width:100%;
    text-align: center;
    margin:0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bride-groom-names{
    font-family: Miama, sans-serif;
    font-size: 15vw;
    line-height: 15vw;
    margin-top: 15vh;
    margin-bottom: 0;
}

.bride-groom-dates{
    position:relative;
    top: 4vh;
    font-size: 5em;
    line-height: 1em;
}

.bride-groom-arrow{
    position: fixed;
    bottom: 3px;
    color: #dfe6e9;
    width: 100%;
    text-align: center;
    height: 5em;
    font-family: 'AtamiRegular', sans-serif;
}

.bride-groom-arrow-image,.bride-groom-arrow-text{
    cursor: pointer;
}

.bride-groom-arrow-image{
    height: 2em;
}
.bride-groom-arrow-text{
    position:relative;
}

@media screen and (max-width: 576px) {
    .bride-groom {
        background-image: url('../assets/img/header-sm.svg');
    }
    
    .bride-groom-box{
        top: 35%;
    }

    .bride-groom-names{
        font-size: 19vw;
    }
    
    .bride-groom-dates{
        position:relative;
        top: 4vh;
        font-size: 10vw;
        line-height: 1em;
    }
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}